# 🔐 Clave secreta de Django
SECRET_KEY='&=dn0#k_x9e60d76&3-69kg-$teulw(b)nj=ydf@1#)cq#_75*'

DATABASE_URL='postgresql://neondb_owner:npg_i6j8YoxgGHmT@ep-fancy-bonus-an0glwba-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# 🌍 Render / Producción
DJANGO_SETTINGS_MODULE=perfumeria.settings_prod
DEBUG=False
ALLOWED_HOSTS='127.0.0.1,localhost'

# 📧 Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=gilbertandeliz04@gmail.com
EMAIL_HOST_PASSWORD='gvwa fiqu giim fyiw'
DEFAULT_FROM_EMAIL=noreply@perfumeria.com

# 💰 PayPal
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=tu_client_id
PAYPAL_SECRET=tu_secret
